<div class="info" *ngIf="Pe">
    <div class="el">
        <label for="text">foto</label>
        <input id="text" [(ngModel)]="Pe.foto" placeholder="foto">
    </div>
<div class="el">
    <label for="text">Lastname</label>
    <input id="text" [(ngModel)]="Pe.lastname" placeholder="lastname">
</div>
<div class="el">
    <label for="text">Name</label>
    <input id="text" [(ngModel)]="Pe.name" placeholder="name">
</div>
<div class="el">
    <label for="text">Name</label>
    <input id="text" [(ngModel)]="Pe.science" placeholder="science">
</div>
<div class="el">
    <label for="text">Name</label>
    <input id="text" [(ngModel)]="Pe.mark" placeholder="mark">
</div>
</div>
