<app-person-deteils [Pe]="selectedPersone"></app-person-deteils>
<div class="bt">
<button type="button" class="btn btn-primary"
(click)="chacgeVis()">Hide</button>
  <p></p>
  <button type="button" class="btn btn-info"
          (click)="add()">Add</button>
  <p></p>
  <button type="button" class="btn btn-success" (click)="first()">Begin</button>
 </div>
      <div *ngIf="show">
        <div class="ob">
        <div class="card" *ngFor="let p of persone" (click)
        ="Personeupdate(p)">
            <p>{{p.id}}</p>
            <div class="img">
                <img src={{p.foto}}>
            </div>
            <p>lastname: {{p.lastname | uppercase}}</p>
            <p>name: {{p.name | uppercase}}</p>
            <p>{{p.science}}</p>
            <p>mark: {{p.mark}}</p>
          <div class="ch">
            <label>Delete:</label>
            <input class="form-check-input mt-1" type="checkbox" (click)="remove(p)" >
          </div>
        </div>
        </div>
      </div>

