<!-- <div>
    <label for="in">Lastname</label>
    <input id="in" [(ngModel)]="persone.lastname" placeholder="lastname">
</div> -->
<!-- <div class="card" *ngfor="let p of persone">
<p>{{p.id}}</p>
<div class="img">
    <img src={{p.foto}}>
</div>
<p>lastname: {{p.lastname | uppercase}}</p>
<p>name: {{p.name | uppercase}}</p>
<p>{{p.science}}</p>
<p>mark: {{p.mark}}</p>
</div> -->
<ul>
    <li *ngFor="let p of persone">
        <div class="card">
            <p>{{p.id}}</p>
            <div class="img">
                <img src={{p.foto}}>
            </div>
            <p>lastname: {{p.lastname | uppercase}}</p>
            <p>name: {{p.name | uppercase}}</p>
            <p>{{p.science}}</p>
            <p>mark: {{p.mark}}</p> 
        </div>
    </li>
</ul>